        <div class="col-md-10 main">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">

          </div>

          <h2 class="sub-header">Access Point Fault List</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>MAC</th>
                  <th>Location</th>
                  <th>Date / Time</th>
                  <th>Notes</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <% @access_points.each do |access_point| %>
                <tr>
                  <td><%= access_point.mac %></td>
                  <td><%= access_point.location %></td>
                  <td><%= access_point.time %></td>
                  <td><%= access_point.notes %></td>
                  <td><%= link_to 'Show', access_point %> | <%= link_to 'Edit', edit_access_point_path(access_point) %> | <%= link_to 'Issue Resolved', access_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
                <% end %>
              </tbody>
            </table>


            <script type="text/javascript" charset="utf-8">
              $(function () {
                $('#orders_chart').highcharts({
                  chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                  },
                  title: {
                    text: 'Number of people in each area over the past 7 days'
                  },
                  plotOptions: {
                    pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {y} ',
                        style: {
                          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                      }
                    }
                  },
                  series: [{
                    type: 'pie',
                    name: 'Number of people',
                    data: [
                    <% @lastweek.each_with_index do |(key, value), index| %>
                    ['<%= key.to_s %>', <%= value.to_s %>.0]<%= if index != @lastweek.length-1  then "," end %>
                    <% end %>
                  ]}]
                });
      });
      </script>

      <center><div id="orders_chart" style="width: 400px; height: 300px;"></div></center>
    </div>
  </div>
</div>
