<div class="col-md-10 main">
<br><p id="notice"><%= notice %></p>

<p>
  <strong>Mac:</strong>
  <%= @access_point.mac %>
</p>

<p>
  <strong>Location:</strong>
  <%= @access_point.location %>
</p>

<p>
  <strong>Time:</strong>
  <%= @access_point.time %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @access_point.notes %>
</p>

<%= link_to 'Edit', edit_access_point_path(@access_point) %> |
<%= link_to 'Back', access_points_path %>
