        <div class="col-md-10 main">
          <h1 class="page-header">Location List</h1>
	  </select>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
    			<tr>
      			<th>Loc</th>
      			<th>Time</th>
      			<th></th>
      			<th></th>
      			<th></th>
    			</tr>
  			</thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.loc, location %></td>
        <td><%= location.time %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %> | <%= link_to 'Remove', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Location', new_location_path, class:'btn btn-success' %>
<%= link_to 'Export Data', locations_path(format: "csv"), class:'btn btn-success' %>
      </div>
    </div>
<br>
