<div class="col-md-10 main">
  <h1 class="page-header">Graph data for <%= @location.loc %></h1>

<script type="text/javascript" charset="utf-8">
              $(function () {
                $('#orders_chart').highcharts({
                  chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                  },
                  title: {
                    text: 'Number of visitors to <%= @location.loc %> on each date'
                  },
                  plotOptions: {
                    pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {y} ',
                        style: {
                          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                      }
                    }
                  },
                  series: [{
                    type: 'pie',
                    name: 'Number of visitors: ',
                    data: [
                    <% @chartFill.each_with_index do |(key, value), index| %>
                    ['<%= key.to_s %>', <%= value.to_s %>.0]<%= if index != @chartFill.length-1  then "," end %>
                    <% end %>
                  ]}]
                });
      });
      </script>
<center><div id="orders_chart" style="width: 600px; height: 500px;"></div></center>

</div>